<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Spring Cloud Administrator</title>
</head>
<body>
<nav th:replace="include/header.html"></nav>
<div id="main" class="container">
    <a href="/signin">/siginin</a><br/>
    <a href="/signout">/signout</a><br/>
    <a href="/test">/test</a><br/>

    <a href="/home/index">/home/index</a><br/>
    <a href="/user/current">/user/current</a><br/>
    <a href="/user/test">/user/test</a><br/>

</div>
<nav th:replace="include/footer.html"></nav>
</body>
<script type="text/javascript">

</script>
</html>